<h1>About This App</h1>

<p>This app is very pinteresting, indeed.</p>


<address>
<strong>Susan Skoog</strong><br>
Camelot Cohousing, Berlin, Massachusetts <br>
<abbr title="Email">e:</abbr> susan.skoog@gmail.com
</address>	