<h1>About This App</h1>

<p>This website is a Ruby on Rails project </p>


<address>
<strong>Susan Skoog</strong><br>
Camelot Cohousing, Berlin, Massachusetts <br>
<abbr title="Email">e:</abbr> susan.skoog@gmail.com
</address>	<!--put an email icon here from font-awesome -->