<div class="jumbotron">
		<h1>Heading Welcoming You Who Have Come To My Pinteresting Rails App.</h1>
		<p>Anything is possible at my rails app.</p>

		<p>Cliquez 
			<%= link_to "ici", "http://www.zombo.com", class: "btn btn-primary btn-lg" %> 
		</p>

		<p>
			<%= link_to "About this app", "about", class: "btn btn-primary btn-lg" %>
		</p>

		<p>
			<% link_to 'Another page!', "anotherpage", class: "btn btn-primary btn-lg" %>
		</p>

		<p>The only limit is yourself.</p>
</div>	




