<div class="center hero-unit">
		<h1>Heading Welcoming You Who Have Come To My Pinteresting Rails App.</h1>
		<p>Anything is possible at my rails app.</p>

		<p>Cliquez <%= link_to "ici", "http://www.zombo.com" %>. (That was a link generated using embedded Ruby.) </p>

		<p>
			<%= link_to "About this app", "about" %>
		</p>

		<p>
			Click <a href="http://zombo.com">me</a>. (That was a handwritten html link.)</p>

		<p> 
			<% link_to 'Another page!', "anotherpage", class: "btn btn-large btn-primary" %>
		</p>

		<p>The only limit is yourself.</p>
</div>	




